---
import { ClientRouter } from "astro:transitions";
import "../styles/global.css";

const {
  title = "Default Title",
  description = "Default description",
  image = "/og-default.jpg",
} = Astro.props;
---

<html lang="en">
  <head>
    <script is:inline>
      function applyTheme() {
        const theme = localStorage.getItem("theme");

        if (
          theme === "dark" ||
          (!theme && window.matchMedia("(prefers-color-scheme: dark)").matches)
        ) {
          document.documentElement.classList.add("dark");
        } else {
          document.documentElement.classList.remove("dark");
        }
      }

      // APPLY IMMEDIATELY (prevents flicker)
      applyTheme();

      // APPLY AFTER ASTRO NAVIGATION (prevents reset)
      document.addEventListener("astro:page-load", applyTheme);
    </script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <!-- Theme init -->

    <ClientRouter />
  </head>

  <body class="bg-lightGray text-black">
    <slot />
  </body>
</html>
